<a href="https://colab.research.google.com/github/AkAsH-2pac/PhonepePulse_DataVisualization/blob/main/phonepe_pulse_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/PhonePe/pulse.git

In [ ]:
!pip install streamlit

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import os
import plotly.express as px
import streamlit as st

In [ ]:
#This is to direct the path to get the data as states

path="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
df = pd.DataFrame(clm)

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
path='/content/pulse/data/aggregated/user/country/india/state/'
Agg_state_list=os.listdir(path)
clm2={'State':[], 'Year':[],'Quarter':[],'Brand':[], 'Count':[], 'Percentage':[]}
for i in Agg_state_list:
    p_i=path+i+"/"    
    Agg_yr=os.listdir(p_i) 
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')            
            D=json.load(Data)
            try:
                for z in D['data']['usersByDevice']:
                    clm2['Brand'].append(z['brand'])
                    clm2['Count'].append(z['count'])
                    clm2['Percentage']=(z['percentage'])
                    clm2['State'].append(i)
                    clm2['Year'].append(j)
                    clm2['Quarter'].append(int(k.strip('.json')))
            except:
                pass

df1=pd.DataFrame(clm2)
df1.head()

In [ ]:
df1.isnull().sum()

In [ ]:
path="/content/pulse/data/map/transaction/hover/country/india/state/"
hover_state_list=os.listdir(path)
hover_state_list

clm3={'State':[], 'Year':[],'Quarter':[],'District':[], 'Count':[], 'Amount':[]}
for i in hover_state_list:
    p_i=path+i+"/"
    hover_yr=os.listdir(p_i)    
    for j in hover_yr:
        p_j=p_i+j+"/"
        hover_yr_list=os.listdir(p_j)        
        for k in hover_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm3['District'].append(Name)
              clm3['Count'].append(count)
              clm3['Amount'].append(amount)
              clm3['State'].append(i)
              clm3['Year'].append(j)
              clm3['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
df2 = pd.DataFrame(clm3)

df2.head()

In [ ]:
df2.isnull().sum()

In [ ]:
path='/content/pulse/data/map/user/hover/country/india/state/'

hover_state_list=os.listdir(path)
hover_state_list

clm4={'State':[], 'Year':[],'Quarter':[],'Users':[], 'Districts':[]}
for i in hover_state_list:
    p_i=path+i+"/"
    hover_yr=os.listdir(p_i)    
    for j in hover_yr:
        p_j=p_i+j+"/"
        hover_yr_list=os.listdir(p_j)        
        for k in hover_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for district, values in D['data']['hoverData'].items():
              users=values['registeredUsers']
              dist=district
              clm4['Users'].append(users)
              clm4['Districts'].append(dist)
              clm4['State'].append(i)
              clm4['Year'].append(j)
              clm4['Quarter'].append(int(k.strip('.json')))

#Succesfully created a dataframe
df3 = pd.DataFrame(clm4)
df3.head()

In [ ]:
df3.isnull().sum()

In [ ]:
path="/content/pulse/data/top/transaction/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

clm5={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'Count':[], 'Amount':[]}
for i in top_state_list:
    p_i=path+i+"/"
    top_yr=os.listdir(p_i)    
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)        
        for k in top_yr_list:
            p_k=p_j+k
            with open(p_k, 'r') as file:
                D=json.load(file)
            for z in D['data']['districts']:
              Name=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              clm5['Districts'].append(Name)
              clm5['Count'].append(count)
              clm5['Amount'].append(amount)
              clm5['State'].append(i)
              clm5['Year'].append(j)
              clm5['Quarter'].append(int(k.strip('.json')))

df4 = pd.DataFrame(clm5)
df4.head()

            State  Year  Quarter      Districts     Count        Amount
0  andhra-pradesh  2020        3  visakhapatnam  34421299  6.762844e+10
1  andhra-pradesh  2020        3       chittoor  20501863  4.281157e+10
2  andhra-pradesh  2020        3        krishna  19110457  4.478846e+10
3  andhra-pradesh  2020        3  east godavari  17972431  3.930004e+10
4  andhra-pradesh  2020        3         guntur  17601395  4.253120e+10

In [ ]:
df4.isnull().sum()

State        0
Year         0
Quarter      0
Districts    0
Count        0
Amount       0
dtype: int64

In [ ]:
path="/content/pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

clm6={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'Users':[]}
for i in top_state_list:
    p_i=path+i+"/"
    top_yr=os.listdir(p_i)    
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)        
        for k in top_yr_list:
            p_k=p_j+k
            with open(p_k, 'r') as file:
                D=json.load(file)
            for z in D['data']['districts']:
              Name=z['name']
              count=z['registeredUsers']
              clm6['Districts'].append(Name)
              clm6['Users'].append(count)
              clm6['State'].append(i)
              clm6['Year'].append(j)
              clm6['Quarter'].append(int(k.strip('.json')))

df5 = pd.DataFrame(clm6)
df5.head()

In [ ]:
df5.isnull().sum()

State        0
Year         0
Quarter      0
Districts    0
Users        0
dtype: int64

In [ ]:
df3['State'].value_counts()

uttar-pradesh                         1500
madhya-pradesh                        1040
bihar                                  760
tamil-nadu                             740
maharashtra                            720
rajasthan                              660
gujarat                                660
assam                                  660
telangana                              660
odisha                                 600
karnataka                              600
chhattisgarh                           540
arunachal-pradesh                      500
jharkhand                              480
west-bengal                            460
punjab                                 440
haryana                                440
jammu-&-kashmir                        440
manipur                                320
kerala                                 280
andhra-pradesh                         260
uttarakhand                            260
himachal-pradesh                       240
meghalaya                              220
delhi                                  220
nagaland                               220
mizoram                                160
tripura                                160
puducherry                              80
sikkim                                  80
dadra-&-nagar-haveli-&-daman-&-diu      60
andaman-&-nicobar-islands               60
goa                                     40
ladakh                                  40
lakshadweep                             20
chandigarh                              20
Name: State, dtype: int64

In [ ]:
df.to_csv('agg_transaction.csv', index=False)
df1.to_csv('agg_user.csv', index=False)
df2.to_csv('map_transaction.csv', index=False)
df3.to_csv('map_user.csv', index=False)
df4.to_csv('top_transaction.csv', index=False)
df5.to_csv('top_user.csv', index=False)

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('Phonepe_pulse.db')
cursor = conn.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE agg_transaction(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    Transaction_type TEXT,
    Transaction_count INTEGER,    
    Transaction_amount INT
);
""")

In [ ]:
# Load the data into a DataFrame
df = pd.read_csv("agg_transaction.csv")

# Insert the data from the DataFrame into the database
df.to_sql("agg_transaction", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE agg_user(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    Brand TEXT,
    Count INTEGER,
    Percentage FLOAT
);
""")

In [ ]:
# Load the data into a DataFrame
df = pd.read_csv("agg_user.csv")

# Insert the data from the DataFrame into the database
df.to_sql("agg_user", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE map_transaction(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    District TEXT,
    Count INTEGER,
    Amount INT
);
""")

In [ ]:
# Load the data into a DataFrame
df = pd.read_csv("map_transaction.csv")

# Insert the data from the DataFrame into the database
df.to_sql("map_transaction", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
# Execute the query to create the filter view
cursor.execute("SELECT State, Quarter, SUM(Transaction_amount) as Total_Transaction_amount FROM agg_transaction GROUP BY State, Quarter")

# Fetch the filtered rows
filtered_rows = cursor.fetchall()

# Create a DataFrame from the filtered rows
df = pd.DataFrame(filtered_rows, columns=["State", "Quarter", "Transaction_amount"])

conn.commit()

# Create a dropdown menu using Streamlit
state = st.selectbox("Select State", df["State"].unique())

# Filter the DataFrame based on the selected state
df = df[df["State"] == state]

# Create a bar chart using Plotly Express
fig = px.bar(df, x="Quarter", y="Transaction_amount", color="State")

# Display the bar chart using Streamlit
st.plotly_chart(fig)

WARNING:root:
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /usr/local/lib/python3.8/dist-packages/ipykernel_launcher.py [ARGUMENTS]
2023-03-05 22:15:19.717
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /usr/local/lib/python3.8/dist-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [ ]:
# Execute the query to create the filter view
cursor.execute("SELECT State, Quarter, SUM(Brand and Count) as Brand FROM agg_user GROUP BY State, Quarter, Brand")

# Fetch the filtered rows
filtered_rows = cursor.fetchall()

# Create a DataFrame from the filtered rows
df1 = pd.DataFrame(filtered_rows, columns=["State", "Quarter", "Brand"])

conn.commit()

# Create a dropdown menu using Streamlit
state = st.selectbox("Select State", df["State"].unique())

# Filter the DataFrame based on the selected state
df = df[df["State"] == state]

# Create a bar chart using Plotly Express
fig = px.bar(df, x="Quarter", y="Year", color="State")

# Display the bar chart using Streamlit
st.plotly_chart(fig)

ValueError: ignored

In [ ]:

# Execute the query to create the filter view
cursor.execute("SELECT State, Year, Quarter, Districts, SUM(Users) as Total_Users FROM map_user GROUP BY State, Year, Quarter, Districts, Users")

# Fetch the filtered rows
filtered_rows = cursor.fetchall()

# Create a DataFrame from the filtered rows
df = pd.DataFrame(filtered_rows, columns=["State", "Year", "Quarter", "Districts", "Users"])

# Create a dropdown menu using Streamlit
#state = st.selectbox("Select State", df["State"].unique())
state_filter = st.selectbox("Select State", ["All", *df['State'].unique()])
year_filter = st.selectbox("Select Year", ["All", *df['Year'].unique()])
quater_filter = st.selectbox("Select Quarter", ["All", *df['Quarter'].unique()])
district_filter = st.selectbox("Select Districts", ["All", *df['Districts'].unique()])


if state_filter != "All":
    df = df[df['State'] == state_filter]
if year_filter != "All":
    df = df[df['Year'] == int(year_filter)]
if quater_filter != "All":
    df = df[df['Quarter'] == quater_filter]
if district_filter != "All":
    df = df[df['Districts'] == district_filter]

#df = df[(df['Users'] >= Total_Users[0]) & (df['Users'] <= Total_Users[1])]


# create table
st.write(df)

OperationalError: ignored

In [ ]:

# Execute the query to create the filter view
cursor.execute("SELECT State, Quarter, Year, Districts , SUM(Amount) as total_amount FROM top_transaction GROUP BY State, Year, Quarter, Districts, Amount")

# Fetch the filtered rows
filtered_rows = cursor.fetchall()

# Create a DataFrame from the filtered rows
df = pd.DataFrame(filtered_rows, columns=["State", "Quarter", "Year", "Districts", "Amount"])

# Create a dropdown menu using Streamlit
#state = st.selectbox("Select State", df["State"].unique())
state_filter = st.selectbox("Select State", ["All", *df['State'].unique()])
year_filter = st.selectbox("Select Year", ["All", *df['Year'].unique()])
district_filter = st.selectbox("Select Districts", ["All", *df['Districts'].unique()])
quater_filter = st.selectbox("Select Quarter", ["All", *df['Quarter'].unique()])
#total_amount = st.slider("Amount", 0, 9000000, (0, 9000000))

if state_filter != "All":
    df = df[df['State'] == state_filter]
if year_filter != "All":
    df = df[df['Year'] == int(year_filter)]
if quater_filter != "All":
    df = df[df['Quarter'] == quater_filter]
if district_filter != "All":
    df = df[df['Districts'] == district_filter]

#df = df[(df['Amount'] >= total_amount[0]) & (df['Amount'] <= total_amount[1])]


# create table
st.write(df)

OperationalError: ignored

In [ ]:

# Execute the query to create the filter view
cursor.execute("SELECT State, Year, Quarter, Districts, SUM(Users) as Total_Users FROM top_user GROUP BY State, Year, Quarter, Districts, Users")

# Fetch the filtered rows
filtered_rows = cursor.fetchall()

# Create a DataFrame from the filtered rows
df = pd.DataFrame(filtered_rows, columns=["State", "Year", "Quarter", "Districts", "Users"])

# Create a dropdown menu using Streamlit
#state = st.selectbox("Select State", df["State"].unique())
state_filter = st.selectbox("Select State", ["All", *df['State'].unique()])
year_filter = st.selectbox("Select Year", ["All", *df['Year'].unique()])
quater_filter = st.selectbox("Select Quarter", ["All", *df['Quarter'].unique()])
district_filter = st.selectbox("Select Districts", ["All", *df['Districts'].unique()])


if state_filter != "All":
    df = df[df['State'] == state_filter]
if year_filter != "All":
    df = df[df['Year'] == int(year_filter)]
if quater_filter != "All":
    df = df[df['Quarter'] == quater_filter]
if district_filter != "All":
    df = df[df['Districts'] == district_filter]

#df = df[(df['Users'] >= Total_Users[0]) & (df['Users'] <= Total_Users[1])]


# create table
st.write(df)

OperationalError: ignored

In [ ]:
df = pd.read_csv("/content/agg_transaction.csv")

fig = px.choropleth(
    df,
    geojson="/content/agg_transaction.csv",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Transaction_amount',
    color_continuous_scale='Reds'
)

fig.update_geos(fitbounds="locations", visible=False)

fig.show()

In [ ]:
import pandas as pd
import plotly.graph_objects as go

df = pd.read_csv("https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/active_cases_2020-07-17_0800.csv")

fig = go.Figure(data=go.Choropleth(
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locationmode='geojson-id',
    locations=df['state'],
    z=df['active cases'],

    autocolorscale=False,
    colorscale='Reds',
    marker_line_color='peachpuff',

    colorbar=dict(
        title={'text': "Active Cases"},

        thickness=15,
        len=0.35,
        bgcolor='rgba(255,255,255,0.6)',

        tick0=0,
        dtick=20000,

        xanchor='left',
        x=0.01,
        yanchor='bottom',
        y=0.05
    )
))

fig.update_geos(
    visible=False,
    projection=dict(
        type='conic conformal',
        parallels=[12.472944444, 35.172805555556],
        rotation={'lat': 24, 'lon': 80}
    ),
    lonaxis={'range': [68, 98]},
    lataxis={'range': [6, 38]}
)

fig.update_layout(
    title=dict(
        text="Active COVID-19 Cases in India by State as of July 17, 2020",
        xanchor='center',
        x=0.5,
        yref='paper',
        yanchor='bottom',
        y=1,
        pad={'b': 10}
    ),
    margin={'r': 0, 't': 30, 'l': 0, 'b': 0},
    height=550,
    width=550
)

fig.show()